<div class="section cap-building-background fullscreen valign-wrapper" id="index-banner">
  <div class="container">
    <div id="new-data-bucket" class="container z-depth-3 white m-pd">
      <h1 class="header center valign">Honest Congress</h1>
      <div id="intro-info">
        <div class="row center">
          <h5 class="header col s12 light">Where do your politicians get their campaign finances? Honest Congress uses the Open Secrets database to provide dynamic views of political lobby and individual donations. Search a politician below.</h5>
        </div>
        <div class="row center">
          <a id="get-started" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
      <div>
    </div>
  </div>
</div>
