<h4>Select a Congressman</h4>
<table id="politician-table" class = "bordered striped">
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Party</th>
        <th data-field="price">Office</th>
    </tr>
  </thead>

  <tbody>
    <% politicians.each do |politician| %>
    <tr>
      <td><a href="/politicians/<%= politician.id %>"><%= politician.name %></a></td>
      <td><%= politician.party %></td>
      <td><%= politician.office %></td>
    </tr>
    <% end %>
  </tbody>
</table>
