<table id="politician-table">
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Party</th>
        <th data-field="price">Office</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>John</td>
      <td>Eclair</td>
      <td>$0.87</td>
    </tr>
  </tbody>
</table>
